body {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

montserrat-raah {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h2 {
  margin: 0;
  font-size: 5vh;
  color: rgb(0, 0, 0);
}
h2:hover {
  text-decoration: underline;
}
h1 {
  margin: 0;
  font-size: 15vh;
  color: rgb(0, 0, 0);
}
h1:hover {
  text-decoration: underline;
}
#map {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
#nick {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30vh;
  flex-direction: column;
  width: 80vw;
  height: 25vh;
  z-index: 7;
}

#menu {
  position: fixed;
  height: 10vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0%;
  top: 65vh;
  transition: transform 0.4s ease;
  transform: translateY(0);
  z-index: 9;
}

#aboutme {
  display: flex;
  height: 100vh;
  width: 100vw;

  flex-direction: row;
  justify-content: space-around;
}

#menu.scrolled {
  transform: translateY(-45vh);
}

#overflow {
  position: fixed;
  height: 2vh;
  width: 1vw;
  background-color: rgb(0, 0, 0);
  right: 0.5vw;
  top: 1vh;
  border-radius: 3vh;
  transition: transform 0.6s ease-in-out;
  transform: translateY(0);
  min-height: 2vh;
  z-index: 99999999999;
}
#overflow.overflowscroll {
  transform: translateY(90vh);
}

.sides {
  position: relative;
  height: 100vh;
  width: 38vw;
  background-color: #00000000;
  z-index: 2;
}

#center {
  width: 24vw;
  z-index: 8;
}

#textcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}
.textbox {
  position: relative;
  right: -2vw;
  height: 30vh;
  width: 38vw;
  background-color: rgb(255, 255, 255);
  transition: transform 0.6s ease-in-out;
  transform: translateX(50vw);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: dashed 0.5vh rgb(0, 0, 0);
}

#textbox1.textscrolled {
  transform: translateX(0vw);
}
#textbox2.textscrolled {
  transform: translateX(0vw);
}
#textbox3.textscrolled {
  transform: translateX(0vw);
}

#heroimg {
  position: relative;
  display: flex;
  height: 80vh;
  width: 30vw;
  background-image: url(../misc_photo/herophoto.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-50vw);
}
#heroimgcont {
  display: flex;
  align-items: center;
  justify-content: center;
}

#heroimg.heroimgscrolled {
  transform: translateX(0vw);
}

.textbox > h3 {
  font-size: 4vh;
  color: rgb(0, 0, 0);
  text-align: center;
}

#scroll {
  color: white;
  font-size: 0.3vh;
  position: absolute;
  align-self: center;
  bottom: -19vh;
}

.panel {
  height: atuo;
  width: 100vw;
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
}

.horizontal-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.horizontal-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

@keyframes rotaca {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  height: 100vh;
  width: 50vw;
  box-shadow: inset 0px 0px 100vh 0vh rgb(94, 94, 94);
}

#logo1 {
  background-image: url(../zkušenosti/html.png);
}
#logo2 {
  background-image: url(../zkušenosti/css.png);
}
#logo3 {
  background-image: url(../zkušenosti/java.png);
}
#logo4 {
  background-image: url(../zkušenosti/python.png);
}

#logotext {
  height: 100vh;
  width: 50vw;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#logoname {
  height: 65vh;
  width: 50vw;

  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 20vh;
}

#logoinfo {
  position: relative;
  height: 35vh;
  width: 50vw;
  display: flex;
  align-items: start;
  justify-content: end;
  right: 2vh;

  font-size: 10vh;
}
.pulse:nth-child(2) {
  top: 60vh;
  left: 80vw;
}
.pulse:nth-child(3) {
  top: 110vh;
  left: 40vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(4) {
  top: 150vh;
  left: 50vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(5) {
  top: 190vh;
  left: 40vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(6) {
  top: 230vh;
  left: 50vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(7) {
  top: 270vh;
  left: 40vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(8) {
  top: 310vh;
  left: 0vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(9) {
  top: 400vh;
  left: 40vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(10) {
  top: 500vh;
  left: 80vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(11) {
  top: 550vh;
  left: 30vw;
  height: 30vh;
  width: 30vh;
}

.pulse:nth-child(12) {
  top: 600vh;
  left: 0vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(13) {
  top: 650vh;
  left: 40vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(14) {
  top: 700vh;
  left: 80vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(15) {
  top: 750vh;
  left: 30vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(16) {
  top: 800vh;
  left: 0vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(17) {
  top: 850vh;
  left: 30vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(18) {
  top: 900vh;
  left: 60vw;
  height: 30vh;
  width: 30vh;
}
.pulse:nth-child(19) {
  top: 950vh;
  left: 90vw;
  height: 30vh;
  width: 30vh;
}

.pulse {
  position: absolute;
  display: flex;
  top: -15vh;
  left: -10vw;
  height: 25vw;
  width: 25vw;
  background-color: #000000;
  z-index: 999999999;
  animation: rotaca 20s linear infinite;
}
#project1 {
  background-image: url(../projekty/bocchi.png);
  background-size: 100% 100%;
}
#project2 {
  background-image: url(../projekty/edit.png);
  background-size: 100% 100%;
}
#project3 {
  background-image: url(../projekty/clicker.png);
  background-size: 100% 100%;
}
#projectcontainer {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
.projects {
  flex: 0 0 100vw;
  scroll-snap-align: start;
  margin: 0;
  overflow-x: scroll;
  display: flex;
  height: 100vh;
  box-shadow: inset 0px 0px 100vh 0vh rgb(255, 255, 255);
  border: solid 1vh white;
}

#infocontainer {
  display: flex;
  align-self: center;
  height: auto;
  width: 25vw;
  background-color: #ffffff;
  border-radius: 3vh;
  border: solid 0.3vh white;
  text-align: center;
  font-size: 3vh;
  margin: 5vh;
  filter: drop-shadow(0 -1vh 1vh rgba(255, 255, 255, 0.619));
}
#infocontainer > p {
  display: flex;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

#contact {
  top: 200vh;
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(255, 255, 255), black);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  position: relative;
  display: flex;
  height: 8vh;
  width: 20vw;
  font-size: 3vh;
  resize: none;
  outline: none;
  margin-bottom: 3vh;
  justify-self: center;
  border-radius: 1vh;
}
textarea {
  position: relative;
  height: 20vh;
  width: 30vw;
  resize: none;
  outline: none;
  font-size: 2vh;
  justify-self: center;
  border-radius: 1vh;
}
button {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  font-size: 5vh;
  text-align: center;
  justify-self: center;
  color: rgb(0, 0, 0);
  background-color: #fff9f9;
  border-radius: 2vh;
  border: solid 0.3vh rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#contactname {
  display: flex;
  font-size: 15vh;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
  justify-self: center;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 6vh;
  }
  #logoname {
    font-size: 13vh;
  }
  #logoinfo {
    font-size: 6vh;
  }
  .pulse {
    display: none;
  }
  #heroimg {
    left: 8vh;
    height: 60vh;
    width: 50vw;
  }
}
